# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Defaults
# --------
logs/
.notes/
node_modules/
*.log
.DS_Store
npm-debug.log*

# Editors
# ------------------
.vs/
.vscode/


# Generated
# -----------------
.next/
build/
coverage/
out/
assets/sprites/
test-report.xml
styles/globals.css


# ENVs
# -----------------
.vercel
.env.local
.env.development
.env.development.local
.env.test
.env.test.local
.env.production
.env.production.local
