@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Properties */
@layer base {
    :root {
        color-scheme: light;

        /* Tailwind Theme Vars */
        --tw-spacing-2\.5: theme('spacing[2.5]');

        /* Dimensions */
        --max-width-site: 63.75rem; /* 1020px */
        --max-width-column: 46.5625rem; /* 745px */

        /* General */
        --color-body-bg: #5c6866;
        --color-pre-bg: light-dark(#e2e8f0, #202020);
        --color-pre-text: light-dark(#1f2328, #f0f6fc);
        --color-pre-border: light-dark(#a9c3d9, #777777);
    }
}

/* Custom Overrides */
@layer base {
    :focus-visible {
        outline-color: #000;
        outline-offset: 3px;
    }
    ol,
    ul {
        list-style: auto;
        @apply pl-14;

        & li > * {
            @apply !mx-0;
        }
    }
}

/* Custom CSS */
@layer base {
    .blog-entry-listing,
    .blog-entry-detail,
    .portfolio-entry-detail {
        & article > *:not(figure, img, .gallery) {
            max-width: var(--max-width-column);
            width: calc(100% - 2rem);
        }
        & blockquote {
            & > *:first-child {
                @apply -mt-1;
            }
            & > *:last-child {
                @apply -mb-1;
            }
        }
    }
    .portfolio-entry-detail {
        & .float-group > * {
            margin-inline: 0;
        }
    }
}
