@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /* Tailwind Theme Vars */
        --tw-spacing-2\.5: theme('spacing[2.5]');

        /* Viewports */
        --vp-md: 48.75em; /* 780px */
        --vp-lg: 59.375em; /* 950px */

        /* Dimensions */
        --width-site: 63.75rem; /* 1020px */

        /* General */
        --color-pre-bg: #e2e8f0;
        --color-pre-text: #1f2328;
        --color-pre-border: #a9c3d9;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            /* General */
            --color-pre-bg: #202020;
            --color-pre-text: #f0f6fc;
            --color-pre-border: #777777;
        }
    }
}
